      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Gesture <b>AI</b></a>
            <ul class="links">
              <li>Home</li>
              <li>About Us</li>
              <li>Install</li>
              <li>Get Started</li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>We're Here to Help. </h1>
              <p>Gesture AI is a team of developers hoping to fix the issue of tech usability. Helping people with disabilities using computer vision and AI deep learning technology.</p>
              <button>Install & Get Started</button>
            </div>
            <div class="image">
              <img src="https://i.postimg.cc/ZnnXMRHf/Screenshot-2024-04-17-at-12-43-24-PM.png">
            </div>
          </div>
        </div>
      </div>

      <!-- End Landing Page -->